body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../img/background-casino.jpg);
    background-size: cover;
 }

#titre{
    background-color: rgb(233, 112, 112);
    text-align: center;
}

#titre h1{
    margin: -5px;
    padding-top: 0px;
}

#titre h4{
    margin-bottom: 0px;
}

@media screen and (max-width: 820px) {
    #titre h1{
        font-size: 50px;
    }
    #titre h4{
        margin-top: -10px;
        padding-left: 10px;
    }
    .igm{
        display: none;
    }
}

@media screen and (min-width: 820px) {
    #titre h1{
        font-size: 100px;
    }
    #titre h4{
        margin-top: -20px;
        padding-left: 10px;
        font-size: 25px;
    }
    .igm{
        top: 240px;
    }
}

nav{
    word-spacing: -0.5em;
    text-align: center;
    background-color: rgb(99, 99, 99);
}

nav a{
    text-decoration: none;
    word-spacing: 0em;
    text-align: center;
    background-color: rgb(99, 99, 99);
    display: inline-block;
    width: 33%;
    padding: 5px 0px 5px 0px;
    color: rgb(206, 206, 206);
}

nav a:hover{
    background-color: rgb(65, 65, 65);
    font-weight: bold;
}

main{
    text-align: center;
}

iframe{
    margin-bottom: 100px;
    aspect-ratio: 16/9;
    width: 1200px;
}

@media screen and (max-width: 1500px) {
    iframe{
        width: 80%;
    }
}

footer{
    background-color: rgb(233, 112, 112);
    padding: 10px 10px 10px 10px;
    display: block;
    bottom: 0px;
}

#jason{
    margin-top: 100px;
    display: block;

    color: white;
}

#jason section{
    display: inline-block;
    width: 100px;
}

#section1{
    margin: 0% 54% 0% 00% ;
}

#vbucks{
    margin: 0px 0px 10px 10px;
    display: inline-block;
}

#vbucksImg{
    height: 35px;
    margin: -10px;
}

.igm{
    position: absolute;
    right: 18%;
    top: 230px;
}